<%= form_with model: @talk, local: true do |form| %>
 
  <% if @talk.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@talk.errors.count, "error") %> prohibited
        this talk from being saved:
      </h2>
      <ul>
        <% @talk.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :date %><br>
    <%= form.date_field :date, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, :class => "form-control" %>
  </p>
 
  <p>
    <%= form.submit :class => 'btn btn-success' %>
  </p>
 
<% end %>