<div class="card-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Talk Title</th>
          <th>Speaker</th>
          <th>Location</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @talks.each do |talk| %>
          <tr>
              <td><%= talk.date.strftime("%d %B,%Y") %></td>
              <td><%= talk.title %></td>
              <td><%= talk.user.email %></td>
              <td><%= talk.location %></td>
              <td>
                <%= link_to "View",talk_path(talk),:class=>"btn btn-sm btn-primary text-white" %>
                
                <% if current_user == talk.user %>
                  <%= link_to "Edit",edit_talk_path(talk),:class=>"btn btn-sm btn-warning text-white" %>
                  <%= link_to 'Delete', talk_path(talk),
                  method: :delete , data: { confirm: 'Are you sure?'},:class=>"btn btn-sm btn-danger text-white" %>
                  <%= link_to "Add Slide",add_slide_path(talk),:class=>"btn btn-sm btn-primary text-white" %>
                  <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>