<div class="card mt-5">
  <div class="card-body">
    <strong>Currently logged in as : <%= current_user.email %></strong>
    <br>
    <strong>Role : <%= current_user.admin ? 'Admin' : 'User' %> </strong>
  </div>
</div>