<div class="card mt-5">
  <h4 class="card-header">Add Slide for '<%= @talk.title %>' event </h4>
  <div class="card-body">
    <%= form_for @talk do |f| %>
      <div class="field form-control">
        <label>Add Slide : </label>
        <%= f.file_field :slide %>
      </div>

      <%= f.submit "Add", :class=>"btn btn-success mt-2" %>

    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to "Back", :back ,:class=>"btn btn-secondary text-white" %>
  </div>
</div>