<div class="mt-2 jumbotron">
  <h2 class="text-center text-info">Lunch And Learn Manager</h2>
  <p>
  Get all information about all the talk events happening near you 
  where you can eat and learn at one place and meet incredible peoples
  from different fields.
  </p>
</div>
<div class="card">
  <h2 class="card-header">All Talks List</h2>
  <%= render "table" %>
</div>