<% unless @talks.empty? %>
  <h5 class="text-info mt-4">Showing results for '<%= @search_term %>' (<%= @talks.count %>) results found.</h5>
  <hr>
  <% @talks.each do |talk| %>
    <div class="card mb-2">
      <div class="card-header"><%= talk.title %></div>
      <div class="card-body">
        <h6>Speaker : <%= talk.user.email %></h6>
        <h6>Date : <%= talk.date.strftime("%d %B,%Y") %></h6>
        <h6>Location : <%= talk.location %></h6>
      </div>
      <div class="card-footer">
      <%= link_to "View",talk_path(talk),:class=>"btn btn-primary text-white" %>
      
      <% if current_user == talk.user %>
      <%= link_to "Edit",edit_talk_path(talk),:class=>"btn btn-warning text-white" %>
      <%= link_to 'Delete', talk_path(talk),
      method: :delete , data: { confirm: 'Are you sure?'},:class=>"btn btn-danger text-white" %>
      
      <% end %>
      </div>
    </div>
  <% end %>
<% else %>
    <h5 class="text-danger mt-4">Sorry no results found for '<%= @search_term %>'</h5>
<% end %>