<div class="card mt-5">
  <h3 class="card-header">
    <%= @talk.title %> Event
  </h3>
  <div class="card-body">
    <h5>Speaker : <%= @talk.user.email %> </h5>
    <h5>Title : <%= @talk.title %> </h5>
    <h5>Date : <%= @talk.date.strftime("%d %B,%Y") %> </h5>
    <h5>Location : <%= @talk.location %> </h5>
    <h5>Description : <%= @talk.description %> </h5>
    
    <% if @talk.slide.present? %>
      <hr>
      <iframe src= <%= @talk.slide.url.html_safe %> width="400" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
      <%= link_to "Download Slide of the talk event", download_slide_path(@talk), target: "_blank"%>
    <% end %>

    <% if @talk.references.present? %>
      <hr>
      <div class="card">
        <div class="card-header">References</div>
          <div class="card-body">
            <ul>
              <% @talk.references.each do |ref| %>
                <li>  
                <div class="row">  
                  <%= link_to ref.body , ref.body , target: "_blanck", :class=>"col-md-11" %>
                    <% if current_user == @talk.user %>
                    <%= link_to 'X', talk_reference_path(@talk,ref),
                      method: :delete , data: { confirm: 'Are you sure?'},:class=>"text-danger col-md-1" %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
      </div>  
    <% end %>
    <hr>
  <% if current_user == @talk.user %>              
    <div class="card">
      <div class="card-header">Add a Reference:</div>
      <div class="card-body">
        <%= form_with(model: [ @talk, @talk.references.build ], local: true) do |form| %>
          <p>
            <%= form.text_area :body , :class=>"form-control" %>
          </p>
          <p>
            <%= form.submit "Add References", :class=>"btn btn-success" %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>

  </div>
  <div class="card-footer">
  <%= link_to "Back", :back ,:class=>"btn btn-secondary text-white" %>
  
  <% if current_user == @talk.user %>
  <%= link_to "Edit",edit_talk_path(@talk),:class=>"btn btn-warning text-white" %>
  <%= link_to "Add Slide",add_slide_path(@talk),:class=>"btn btn-primary text-white" %>
  <%= link_to 'Delete', talk_path(@talk),
  method: :delete , data: { confirm: 'Are you sure?'},:class=>"btn btn-danger text-white" %>
  <% end %>
  </div>
</div>