<!DOCTYPE html>
<html>
  <head>
    <title>Lunch And Learn Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <%= render 'common/navbar' %>
  <% end %>  
  <div class="container">
  <% flash.each do |key, value| %>
    <div class="mt-3 alert alert-<%= key %>"><%= value %></div>
  <% end %>
    <%= yield %>
  </div>  
  </body>
</html>
